.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width : 100px;
}
.navi-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.navi-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card {
    margin:5px;
    border-radius: 10px;
    padding: 5px;
    width:200px;
    background-color: #f0f0f0;
}
.res-card:hover{
      border: 1px solid black;
      cursor: pointer;
}

.res-card-logo {
    width:100%;
    height: 40%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%; /* ensure full width */
    justify-content: flex-start; /* align left */
}

.shimmer-card {
    width: 200px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
}
